body {
    margin: 0;
}



.l-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    
}


.l-header{
        
    grid-row: 1;
    grid-column: 1 / 5;
    height: 198px;
    padding: 80px;
    background: linear-gradient(5deg, white 25%, #707070 25%);    
    opacity: 1;    
    margin-bottom: 5px;        
    
}

#text-head-1 {

    grid-column: 2 / 4;         
    height: 23px;
    text-align: center;    
    font: 20px/24px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 31px;
    margin-bottom: 5px;   

}


#text-head-2 {

    grid-column: 2 / 4;        
    height: 48px;
    text-align: center;
    font: Bold 40px/49px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 9px;   

}

#text-head-3 {

    grid-column: 2 / 4;       
    height: 32px;
    text-align: center;
    font: 14px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 56px;  

}

.h-main {
    
    grid-row: 2;
    grid-column: 1 / 2;    
    margin-left: 21px;
    margin-bottom: 9px;    
    height: 23px;
    text-align: left;
    font: 20px/24px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1; 
}


.text-main {
    
    grid-row: 3;
    grid-column: 1 / 5;
    height: 60px;
    margin-left: 21px;
    margin-right: 16px;
    margin-top: 9px;
    margin-bottom: 17px; 
    
    text-align: left;
    font: 12px/18px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.l-produtos {
    
    grid-row: 4;
    height: 355px;
    grid-column: 2 / 4;    
    margin-bottom: 57px;

    display: grid;
    grid-gap: 41px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


.produto-1 {    
    grid-column: 1;
    
    display: grid;
    grid-gap: 14px;        
    grid-template-rows: repeat(2, 1fr);
    
}

.img-produto {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}

.info-produto {

    display: grid;    
    grid-template-rows: repeat(6, 1fr);
}

.item-prod-1 {
    
    grid-row: 1;
    height: 16px;
    
}

.item-prod-2 {
    
    grid-row: 2;
    height: 16px;
    
}

.item-prod-3 {
    
    grid-row: 3;
    height: 14px;
    

}

.item-prod-4 {
    
    grid-row: 4;
    height: 19px;
    

}

.item-prod-5 {
    
    grid-row: 5;
    height: 14px;
    

}

.item-prod-6 {
    
    grid-row: 6;

    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    

}

#p-item-1 {
    margin-top: 0px;
    margin-bottom: 13px;

    height: 16px;
    text-align: left;
    font: 14px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#p-item-2 {
    margin-top: 0px;
    margin-bottom: 10px;

    height: 60px;
    text-align: left;
    font: 12px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#p-item-3 {
    margin-top: 0px;
    margin-bottom: 6px;

    height: 14px;
    text-align: left;
    font: 12px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#p-item-4 {
    margin-top: 0px;
    margin-bottom: 7px;

    height: 19px;
    text-align: left;
    font: Bold 16px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#p-item-5 {
    margin-top: 0px;
    margin-bottom: 10px;

    height: 14px;
    text-align: left;
    font: 12px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#p-item-6 {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 120px;
    margin-right: 68px;

    height: 18px;
    text-align: center;
    font: 16px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    background: none;
    border: none;
}


.produto-2 {
    grid-column: 2;        

    display: grid;
    grid-gap: 14px;         
    grid-template-rows: repeat(2, 1fr);
}



#bt {    
    
    grid-row: 5;
    grid-column: 2 / 4;
    margin-top: 62px;           
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;     
    height: 39px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;   
    font: 16px/16px Arial Narrow;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}

#text-f-1{
    grid-column: 2 / 4;
    text-align: center; 
    margin-top: 80px;
    margin-bottom: 0px;
    height: 20px;
    text-align: center;
    font: 12px/18px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    
}

#text-f-2{
    grid-column: 2 / 4;
    text-align: center; 
    margin-bottom: 0px;
    margin-top: 0px;
    height: 20px;
    text-align: center;
    font: 12px/18px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#text-f-3{
    grid-column: 2 / 4;
    text-align: center; 
    margin-bottom: 0px;
    margin-top: 0px;
    height: 20px;
    text-align: center;
    font: 12px/18px Arial Narrow;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.l-footer {
    
    grid-row: 6;
    grid-column: 1 / 5;
    height: 158px;    
    opacity: 1;
    padding: 35px;
    background: linear-gradient(178deg, white 25%, #707070 25%);        
}

